.topics-separator {
    margin-bottom: 2px;
    margin-top: 2px;
    border-color: darkgrey;
    border-width: 3px;
}

.topic {
    position: relative;
    width: 600px;
}

.post {
    margin-top: 10px;
    position: relative;
    display: block;
}

.post-author {
    margin-left: 10px;
    font-size: 20px;
    color: #222222;
}

.post-header {
    width: auto;
    background-color: #d3d3d3;
}

.topic-subject,
.forum-subject {
    font-size: 20px;
    color: darkred;
}

.topic-subject:hover,
.forum-subject:hover {
    color: indianred;
    cursor: pointer;
}

#post-form,
#topic-form,
#complain-form {
    display: none;
}

.topic-info,
.post-info {
    font-size: 10px;
    color: #666666;
}

.tag:hover {
    background-color: darkgray;
    color: #000000;
    cursor: pointer;
}